@model ProductModel


@{
    ViewData["Title"] = "Product Details";
}

<div class="details-container">
    <div class="detail-product-card">
    @if (Model != null)
    {
        
       
                <div class="product-image-container">
                @if(Model.ImageUrl != null)
                {
                    <img id="main-image" src="@Model.ImageUrl" alt="product" />
                }
                <div class="product-detail-images d-flex justify-content-around mt-4">
                        <img class="sec-image" src="@Model.ImageUrl" alt="product" />
                        <img class="sec-image" src="@Model.ImageUrl" alt="product" />
                        <img class="sec-image" src="@Model.ImageUrl" alt="product" />
                        <img class="sec-image" src="@Model.ImageUrl" alt="product" />
                </div>
            </div>

            <div class="product-info-container">
                <div class="col">
                    <h1 class="product-detail-title">@Model.ProductName</h1>
                    <p class="mt-3 product-detail-description">@Model.ProductDescription</p>
                    <small class="mt-3">@Model.Category.CategoryName</small>
                    <i class="stars fa-sharp fa-solid fa-star"></i>
                    <i class="stars fa-sharp fa-solid fa-star"></i>
                    <i class="stars fa-sharp fa-solid fa-star"></i>
                    <i class="stars fa-sharp fa-solid fa-star"></i>
                    <i class="stars fa-sharp fa-solid fa-star"></i>

                    <span class="product-detail-review">11 Reviews</span>
                    <div class="d-block my-3">
                     
                        <span class="my-3 product-detail-price">$@string.Format("{0:F0}",@Model.Price)</span>
                    </div>

                    <div class="product-input-container d-flex">
                            <div class="product-input-quantity-container d-flex justify-content-center mr-5">
                            <input class="product-input-quantity" id="qty" value="1" min="1" />
                            <div id="inc-button" class="volume-button"><i class="fa-solid fa-plus"></i></div>
                            <div id="dec-button" class="volume-button"><i class="fa-solid fa-minus"></i></div>
                        </div>
                        <button class="button-product btn btn-success" type="submit">Add to Cart<i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                  

                        <button class="btn btn-primary d-block my-4" type="submit">Add To Wishlist</button>
                </div>
            </div>
       
        
    }
    </div>
    </div>