@model List<ProductModel>

@{
    ViewData["Title"] = "Products";
    var products = await productService.GetAllAsync();
}

<div class="product-cards">
  @if (products.Any())
        {

<div class="card-container">

    <div class="row row-cols-md-1 row-cols-lg-3 row-cols-xl-5 g-2">
      
            @foreach (var product in products)
            {
                <div class="col d-flex justify-content-center">
                    <div class="card">
                        <div class="product-card">
                                <a class="product-details-link" href="@Url.Action("details","products", new { id = product.Id})">

                            <img class="product-img" src="@product.ImageUrl" alt="@product.ProductName" />
                                 
                             
                            </a>
                            <div class="d-flex justify-content-between align-items-end">
                               
                                    <div class="info">
                                        <h2 class="product-card-title">@product.ProductName</h2>
                                        <span class="product-card-price">$@string.Format("{0:F0}", @product.Price)</span>
                                   
                                        
                                </div>
                       
                    </div>
                </div>
                </div>
            </div>
            }
       
    </div>
</div>

        }
</div>